{% extends 'base-error.html.twig' %}

{% block title %}404{% endblock %}
{% block body %}
<h2>404</h2>
<h3 class="mt-4">Oops ! La page n'existe pas</h3>
<p>Vous vous êtes surement perdu</p>
<div class="mt-5">
    <a href="{{ path('app_home') }}"class="btn m-2 m-md-0 btn-primary"><i class="bi bi-house-door-fill"></i> Retour à l'accueil</a>
</div>
{% endblock %}